* {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
    font-family: "raleway", sans-serif, Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

#main-page {
    background-color: antiquewhite;
    border: 1px solid;
    max-width: 65%;
}

nav {
    padding: 10px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navdiv .logo {
    margin-left: 25px;
    display: flex;
    align-items: end;
}

nav .navdiv .logo span {
    font-size: 1.25em;
}

nav .navdiv ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 25px;
}

nav .navdiv ul li{
    font-size: 1.15em;
}

main #home {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

main #coreContent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
}

main #coreContent #projects {
    text-align: center;
    flex: 1 1 300px;
    max-width: 600px;
}

main #coreContent #experience {
    text-align: center;
    flex: 1 1 300px;
    max-width: 600px;
    margin: 0px 5px;
}

.medians {
    margin: 0;
    padding: 0;
}

main #coreContent #projects ul {
    margin: 0;
    padding: 0;
}

main #coreContent #projects ul li{
    margin: 10px 60px;
    border: 1px solid;
    padding: 10px;
}

footer #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: auto 25px;
}

footer #contact .input-fields{
    margin: 25px auto;
    display: flex;
    justify-content: right;
}

footer #contact .input-fields input{
    width: 250px;
    height: 50px;
    margin-left: 5px;
}

footer #contact .input-fields textarea{
    margin-left: 5px;
}

footer #contact .input-fields #name{
    font-size: 1.3em;
}

footer #contact .input-fields #email{
    font-size: 1.15em;
}

footer #contact .input-fields #message {
    height: 150px;
}

footer #contact #socials {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

