* {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
    font-family: "raleway", sans-serif, Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

#main-page {
    background-color: antiquewhite;
    border: 1px solid;
}

nav {
    padding: 10px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navdiv .logo {
    margin-left: 25px;
    display: flex;
    align-items: end;
}

nav .navdiv .logo span {
    font-size: 1.25em;
}

nav .navdiv #profile-photo {
    border: 1px solid;
    border-radius: 45px;
    width: 100px;
    height: 100px;
}

nav .navdiv ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 25px;
}

nav .navdiv ul li{
    font-size: 1.15em;
}

main #home {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #coreContent {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}

main #coreContent #projects {
    text-align: center;
    width: 50%;
}

main #coreContent #experience {
    text-align: center;
    width: 50%;
}

.medians {
    margin: 0;
    padding: 0;
}

main #coreContent #projects ul {
    margin: 0;
    padding: 0;
}

main #coreContent #projects ul li{
    margin: 10px 60px;
    border: 1px solid;
    padding: 10px;
}

